
.page-section{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;

}
#hero{
    background-image: url(../Slike/hero\ 2.jpg);
    background-size: cover;
    z-index: -1;
    display: flex;
    justify-content: center;
    color: var(--dom-title-font);
    object-fit: cover;
    font-family: var(--title-font);
}

#hero-title{
    font-size: 5vw;

}

#navigation{
    width: 70vw;
}

#title-hero-section-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
}

h2{
    font-size: 3vw;
    color: var(--navy-blue);
}

#arrow-down{
    width: 2vw;
    height: 2vw;
}
#page-scroller-div{
    display: flex;
    display: flex;
    justify-content: center;
}
#scroller-wrapper{
    width: 30%;
    display: flex;
    justify-content: center;
    color: var(--dom-title-font);

}
#scroller-wrapper:hover{
    cursor: pointer;

}
#page-scroller:hover{
    transition: 120ms;
    scale: 3.1;
    color: #fff;
    background-color: var(--navy-blue);
    box-shadow:
  0.5px 0.6px 1.1px rgba(0, 0, 0, 0.02),
  1.3px 1.5px 2.7px rgba(0, 0, 0, 0.028),
  2.4px 2.8px 5px rgba(0, 0, 0, 0.035),
  4.2px 4.9px 8.9px rgba(0, 0, 0, 0.042),
  7.9px 9.2px 16.7px rgba(0, 0, 0, 0.05),
  19px 22px 40px rgba(0, 0, 0, 0.07)
;
}
#page-scroller-div{
    margin: 1.5vw;
    width: 100%;
}
#page-scroller{
    scale: 3;
    font-size: 2vw;
    text-decoration: underline;
    color: var(--navy-blue);
}

#categories-marginer,#popular-marginer,#about-marginer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.category-link-title-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.534);
    display: flex;
    justify-content: center;
    align-items: center;
}



#article-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    width: 100%;

}
#categories-marginer{
    align-items: flex-start;

}
#popular-marginer{
    align-items: flex-end;
}
.article-title, .article-review{
    color: var(--pearl-white);
    font-size: 3.5vw;
    opacity: 0;
    top: 0;
}
.article-link-wrapper:hover{
    transition: 250ms ease-in;
    -webkit-box-shadow: inset 0px 0px 35px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 35px -21px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 35px -21px rgba(0,0,0,0.75);
    overflow: hidden;
}
.article-link-wrapper:hover .article-title, .article-link-wrapper:hover .article-review{
    opacity: 100;
    transition: 350ms ease-in;
    bottom: 0;
}
.category-link-wrapper{
    width: 100%;
    height: 100%;
    margin: 0vw .3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
}
.article-link-wrapper{
    background-color: var(--pearl-white);
    width: 100%;
    height: 100%;
    margin: 0vw .3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5vw;

}

#link-proizvod1,#link-proizvod2,#link-proizvod3{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.article-review{
    bottom: 0;
    font-family: var(--text-font);
    color: var(--pearl-white);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30%;
    overflow: hidden;
    border-radius: 1vw 1vw 0 0;
    background-color: rgba(26, 26, 26, 0.514);
    font-size: 1.3vw;
}
.article-review>cite{
    margin: 1.5vw;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 3vw;
    right: 3vw;
    z-index: 99;
    font-size: 1vw;
    border: none;
    outline: none;
    background-color: var(--navy-blue);
    color: var(--pearl-white);
    cursor: pointer;
    padding: 1vw;
    border-radius: 1vw;
  }
  
  #myBtn:hover {
    background-color: var(--pearl-white);
    color: var(--navy-blue);
  }







#link-proizvod1{
    background-image: url(../Slike/Popularni/Apples.jpg);
    background-size: cover;
}
#link-proizvod2{
    background-image: url(../Slike/Popularni/chily.jpg);
    background-size: cover;
}
#link-proizvod3{
    background-image: url(../Slike/Popularni/cucumbers.jpg);
    background-size: cover;
}
#about-title{
    font-size: 4vw;
}
#about-wrapper{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-child-wrapper{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#about-img{
    background-image: url(../Slike/about.jpg);
    background-size: cover;
}

#popularni-proizvodi{
    background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png"); 
    background-color: var( --light-green);
}

#popular-marginer>h2, #popular-marginer>#page-scroller-div>a>i {
    color: var(--pearl-white);
}

#about-article{
    width: 60%  ;
    font-family: var(--text-font);
    font-weight: 300;
}

#hero-quote{
    font-size: 3vw;
}

.background-img-div {
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
    border-radius: .5vw;

}



.background-img-div img {
  transition: transform .8s cubic-bezier(0.59, 0, 0.83, 1);
}


.background-img-div:hover img {
  transform: scale(1.1);
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.section-title{
    font-family: var(--title-font);
}

.category-link-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-text-div{
    font-family: var(--title-font);
    position: absolute;
    opacity: 0;
    padding: -1vw;
}
.background-text-div>h2{
    color: var(--pearl-white);
    text-shadow: 0px 3px 15px #000000;

}
.category-link-wrapper:hover .background-img-div{
    transition: 200ms;

}
.category-link-wrapper:hover .background-text-div{
    transition: 200ms;
    opacity: 100;
}

