@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

html {
    scroll-behavior: smooth;
}
:root{
   
    --title-font:'Bebas Neue', cursive;
    --text-font: 'Bree Serif', serif;
    --second-font: 'Montserrat', sans-serif;



    --pearl-white: #F9FAFA;
    --navy-blue: #154360;
    --damp-green: #2fc058;
    --light-green:#78f39b;
    --mute-gray: #f0f0f0;


    --img-border-radius: 1rem;
    --button-border-radius: 10vw;

    --main-font-size: .82vw;
    --category-title-font-size: 1vw;

    --default-gap: 3%;
}
.page-marginer{
    margin-left: 10%;
    margin-right: 10%;
}
html{
    height: 100%;
}
body{
    background-color: var(--pearl-white);
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    max-width: 100%;
    margin: 0;
    font-size: var(--main-font-size);
    min-height: 100vh;

}

.page-content{
    height: 100%;
}
footer{
    font-family: var(--second-font);
    font-weight: 500;
    position: sticky;
    margin-top: 5vh;
    top: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--damp-green);
    color: var(--pearl-white);
}

a{
    text-decoration: none;
    user-select: none;
    color: var(--pearl-white);
}
li{
    list-style: none;
}
img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
a:visited { 
    text-decoration: none; 
}

